# Configurações do Banco de Dados PostgreSQL
DB_USER=seu_usuario
DB_HOST=localhost
DB_DATABASE=nome_do_banco_de_dados
DB_PASSWORD=sua_senha
DB_PORT=5432

# Outras variáveis de ambiente (se houver)
# PORT=3333
# NODE_ENV=development
